flows_pi-bplus.json
[{"id":"a78ff84b.3f41e","type":"tab","label":"Fake News","disabled":false,"info":""},{"id":"56bf5d59.7fa4b4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ea1b7d7.b70b78","type":"twitter-credentials","z":"","screen_name":"@programmierung"},{"id":"f6c8b86e.5c83b","type":"twitter-credentials","z":"","screen_name":"@twusb"},{"id":"788505cb.3eebc4","type":"http in","z":"a78ff84b.3f41e","name":"Start per URL http://pi-adresse:1880/fake-news","url":"/fake-news","method":"get","upload":false,"swaggerDoc":"","x":200,"y":420,"wires":[["f244230e.2e2b"]]},{"id":"7d9ae2db.07add4","type":"http response","z":"a78ff84b.3f41e","name":"Antwort des Webservers","x":690,"y":220,"wires":[]},{"id":"1e6dca2b.0a381e","type":"twitter out","z":"a78ff84b.3f41e","twitter":"f6c8b86e.5c83b","name":"an Twitter senden","x":670,"y":280,"wires":[]},{"id":"f244230e.2e2b","type":"function","z":"a78ff84b.3f41e","name":"Fake News Generator","func":"// var tstamp=(new Date).toISOString().replace(/t/gi,' ').trim();\n\nvar messages = [\n    \"Danke\", \n    \"Thanks\", \n    \"Mahalo\", \n    \"Arigato\", \n    \"Dziekuje\", \n    \"Merci\", \n    \"Tak\", \n    \"Nandri\", \n    \"Shukran\", \n    \"Gratias\",\n    \"Carpe Diem\",\n    \"Must have\",\n    \"Positiv\",\n    \"Hyper\",\n    \"Super\",\n    \"Hot ...\",\n    \"A new\",\n    \"Blog über\",\n    \"Guter Kommentar\",\n    \"Sehr guter Kommentar\",\n    \"Klasse\",\n    \"First look\",\n    \"Free\",\n\t\"Super Airline\",\n\t\"Coole Flugzeuge\",\n\t\"Neuer Beitrag\",\n\t\"Neuer guter Post\",\n\t\"Begeisterter\",\n\t\"Hinweis\",\n\t\"Guter Empfang\",\n\t\"Gute Reichweite\",\n\t\"Schau mal\",\n\t\"Fake News\",\n    \"News\",\n\t\"Beachte super Beitrag\",\n\t\"Positiver Hinweis\",\n\t\"Super cooler Hinweis\",\n\t\"Aktueller gehts nicht\",\n\t\"Neue Mindmap\",\n\t\"Sehr Wichtig\",\n\t\"Super aktuell\",\n\t\"Super Urlaub\",\n\t\"Guter Hinweis\"\n];\n\t\nvar hashtags1 = [\n    \"#alexa\",\n    \"#dot\",\n    \"#echo dot\",\n\t\"#eddv\",\n\t\"#haj\",\n\t\"#hanover\",\n\t\"#airways\",\n\t\"#cool\",\n\t\"#pi\",\n\t\"#wenzlaff.de\",\n\t\"#wenzlaff.info\",\n\t\"#kleinhirn.eu\",\n\t\"#junit5\",\n\t\"#testen\",\n\t\"#hannover\",\n\t\"#arduino\",\n\t\"#programmierung\",\n\t\"#raspberry\"\n];\n\t\nvar hashtags2 = [\n    \"#Danke\", \n    \"#Thanks\", \n    \"#Mahalo\", \n    \"#Arigato\", \n    \"#Dziekuje\", \n    \"#Merci\", \n    \"#Tak\", \n    \"#Nandri\", \n    \"#Shukran\", \n    \"#Gratias\",\n\t\"#arduino\",\n\t\"#node-red\",\n\t\"#nodered\",\n\t\"#dump1090\",\n\t\"#flughafen\",\n\t\"#urlaub\",\n\t\"#radar\",\n\t\"#ADSB\",\n\t\"#HAJ\",\n\t\"#Hannover\",\n\t\"#RADAR\",\n\t\"#Langenhagen\",\n\t\"#Bild\",\n\t\"#kleinhirn\",\n\t\"#dontgiveup\",\n\t\"#gibnichtauf\",\n\t\"#Wenzlaff.info\",\n\t\"#mindmap\",\n\t\"#Bremen\",\n\t\"#Airport\",\n\t\"#EDDV\",\n\t\"#ADS-B\",\n\t\"#wenzlaff.de\",\n\t\"#iot\"\n];\n\t\nvar message  = messages[Math.floor(Math.random() * messages.length)];\nvar hashtag1 = hashtags1[Math.floor(Math.random() * hashtags1.length)];\nvar hashtag2 = hashtags2[Math.floor(Math.random() * hashtags2.length)];\n\t\nmsg.payload= message+\" \"+hashtag1+\" \"+hashtag2;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["7d9ae2db.07add4","1e6dca2b.0a381e","d5843d87.f6c4f","195ed968.eb6fcf"]]},{"id":"d5843d87.f6c4f","type":"debug","z":"a78ff84b.3f41e","name":"Debugging","active":true,"console":"false","complete":"payload","x":810,"y":340,"wires":[]},{"id":"6c85419d.ad153","type":"comment","z":"a78ff84b.3f41e","name":"Automatischer Fake-News Generator","info":"","x":170,"y":40,"wires":[]},{"id":"dafd7233.7f895","type":"inject","z":"a78ff84b.3f41e","name":"Eintrag senden","topic":"","payload":"","payloadType":"str","repeat":"660","crontab":"","once":true,"onceDelay":"","x":120,"y":100,"wires":[["febf564a.31763"]]},{"id":"3ba70e1b.3f4b32","type":"comment","z":"a78ff84b.3f41e","name":"www.wenzlaff.info","info":"","x":470,"y":40,"wires":[]},{"id":"febf564a.31763","type":"random","z":"a78ff84b.3f41e","name":"Zufallsgenerator","low":"0","high":"1","inte":"true","property":"payload","x":180,"y":180,"wires":[["b4d7349b.5b509"]]},{"id":"b4d7349b.5b509","type":"switch","z":"a78ff84b.3f41e","name":"Schalter","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":260,"wires":[["f244230e.2e2b"]]},{"id":"1d5b7dd9.905e02","type":"http request","z":"a78ff84b.3f41e","name":"an ThingSpeak senden","method":"GET","ret":"obj","url":"http://api.thingspeak.com/update?key=O57PH3NIUQIMHO41&field1=1&status={{{payload}}}","tls":"","x":680,"y":480,"wires":[["d5843d87.f6c4f"]]},{"id":"195ed968.eb6fcf","type":"function","z":"a78ff84b.3f41e","name":"Filter","func":" msg.payload = msg.payload.replace(\"#\",'').trim();\n msg.payload = msg.payload.replace(\"#\",'').trim();\n msg.payload = msg.payload.replace(\" \",'+').trim();\n msg.payload = msg.payload.replace(\" \",'+').trim();\n msg.payload = msg.payload.replace(\" \",'+').trim();\n msg.payload = msg.payload.replace(\" \",'+').trim();\n\n return msg;\n\n","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["1d5b7dd9.905e02"]]}]