flows_pi-bplus.json
[{"id":"a78ff84b.3f41e","type":"tab","label":"Fake News","disabled":false,"info":""},{"id":"5b92518f.f8357","type":"tab","label":"Benzinpreis","disabled":false,"info":""},{"id":"5cc90bce.24fc54","type":"tab","label":"Wetter","disabled":false,"info":""},{"id":"75f6b041.fe9a3","type":"tab","label":"Umweltdaten","disabled":false,"info":""},{"id":"a02c2104.f08d4","type":"tab","label":"Flugverkehr","disabled":false,"info":""},{"id":"56bf5d59.7fa4b4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ea1b7d7.b70b78","type":"twitter-credentials","z":"","screen_name":"@programmierung"},{"id":"f6c8b86e.5c83b","type":"twitter-credentials","z":"","screen_name":"@twusb"},{"id":"d3b47543.345c8","type":"ui_tab","z":"","name":"wenzlaff.de","icon":"dashboard"},{"id":"796b4741.fc3fd","type":"ui_group","z":"","name":"Flugverkehr","tab":"d3b47543.345c8","disp":true,"width":"6","collapse":false},{"id":"b9d10b5e.392c6","type":"ui_group","z":"","name":"Benzinpreis","tab":"d3b47543.345c8","disp":true,"width":"6","collapse":false},{"id":"3a945adc.9074be","type":"alexa-home-conf","z":"","username":"TWNODERED"},{"id":"4cce8c99.7f9e8c","type":"mqtt-broker","z":"","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"788505cb.3eebc4","type":"http in","z":"a78ff84b.3f41e","name":"Start per URL http://pi-adresse:1880/fake-news","url":"/fake-news","method":"get","upload":false,"swaggerDoc":"","x":200,"y":420,"wires":[["f244230e.2e2b"]]},{"id":"7d9ae2db.07add4","type":"http response","z":"a78ff84b.3f41e","name":"Antwort des Webservers","x":690,"y":220,"wires":[]},{"id":"1e6dca2b.0a381e","type":"twitter out","z":"a78ff84b.3f41e","twitter":"f6c8b86e.5c83b","name":"an Twitter senden","x":670,"y":280,"wires":[]},{"id":"f244230e.2e2b","type":"function","z":"a78ff84b.3f41e","name":"Fake News Generator","func":"// var tstamp=(new Date).toISOString().replace(/t/gi,' ').trim();\n\nvar messages = [\n    \"Danke\", \n    \"Thanks\", \n    \"Mahalo\", \n    \"Arigato\", \n    \"Dziekuje\", \n    \"Merci\", \n    \"Tak\", \n    \"Nandri\", \n    \"Shukran\", \n    \"Gratias\",\n    \"Carpe Diem\",\n    \"Must have\",\n    \"Positiv\",\n    \"Hyper\",\n    \"Super\",\n    \"Hot ...\",\n    \"A new\",\n    \"Blog über\",\n    \"Guter Kommentar\",\n    \"Sehr guter Kommentar\",\n    \"Klasse\",\n    \"First look\",\n    \"Free\",\n\t\"Super Airline\",\n\t\"Coole Flugzeuge\",\n\t\"Neuer Beitrag\",\n\t\"Neuer guter Post\",\n\t\"Begeisterter\",\n\t\"Hinweis\",\n\t\"Guter Empfang\",\n\t\"Gute Reichweite\",\n\t\"Schau mal\",\n\t\"Fake News\",\n    \"News\",\n\t\"Beachte super Beitrag\",\n\t\"Positiver Hinweis\",\n\t\"Super cooler Hinweis\",\n\t\"Aktueller gehts nicht\",\n\t\"Neue Mindmap\",\n\t\"Sehr Wichtig\",\n\t\"Super aktuell\",\n\t\"Super Urlaub\",\n\t\"Guter Hinweis\"\n];\n\t\nvar hashtags1 = [\n    \"#alexa\",\n    \"#dot\",\n    \"#echo dot\",\n\t\"#eddv\",\n\t\"#haj\",\n\t\"#hanover\",\n\t\"#airways\",\n\t\"#cool\",\n\t\"#pi\",\n\t\"#wenzlaff.de\",\n\t\"#wenzlaff.info\",\n\t\"#kleinhirn.eu\",\n\t\"#junit5\",\n\t\"#testen\",\n\t\"#hannover\",\n\t\"#arduino\",\n\t\"#programmierung\",\n\t\"#raspberry\"\n];\n\t\nvar hashtags2 = [\n    \"#Danke\", \n    \"#Thanks\", \n    \"#Mahalo\", \n    \"#Arigato\", \n    \"#Dziekuje\", \n    \"#Merci\", \n    \"#Tak\", \n    \"#Nandri\", \n    \"#Shukran\", \n    \"#Gratias\",\n\t\"#arduino\",\n\t\"#node-red\",\n\t\"#nodered\",\n\t\"#dump1090\",\n\t\"#flughafen\",\n\t\"#urlaub\",\n\t\"#radar\",\n\t\"#ADSB\",\n\t\"#HAJ\",\n\t\"#Hannover\",\n\t\"#RADAR\",\n\t\"#Langenhagen\",\n\t\"#Bild\",\n\t\"#kleinhirn\",\n\t\"#dontgiveup\",\n\t\"#gibnichtauf\",\n\t\"#Wenzlaff.info\",\n\t\"#mindmap\",\n\t\"#Bremen\",\n\t\"#Airport\",\n\t\"#EDDV\",\n\t\"#ADS-B\",\n\t\"#wenzlaff.de\",\n\t\"#iot\"\n];\n\t\nvar message  = messages[Math.floor(Math.random() * messages.length)];\nvar hashtag1 = hashtags1[Math.floor(Math.random() * hashtags1.length)];\nvar hashtag2 = hashtags2[Math.floor(Math.random() * hashtags2.length)];\n\t\nmsg.payload= message+\" \"+hashtag1+\" \"+hashtag2;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["7d9ae2db.07add4","1e6dca2b.0a381e","d5843d87.f6c4f","195ed968.eb6fcf"]]},{"id":"d5843d87.f6c4f","type":"debug","z":"a78ff84b.3f41e","name":"Debugging","active":true,"console":"false","complete":"payload","x":810,"y":340,"wires":[]},{"id":"6c85419d.ad153","type":"comment","z":"a78ff84b.3f41e","name":"Automatischer Fake-News Generator","info":"","x":170,"y":40,"wires":[]},{"id":"dafd7233.7f895","type":"inject","z":"a78ff84b.3f41e","name":"Eintrag senden","topic":"","payload":"","payloadType":"str","repeat":"660","crontab":"","once":true,"onceDelay":"","x":120,"y":100,"wires":[["febf564a.31763"]]},{"id":"3ba70e1b.3f4b32","type":"comment","z":"a78ff84b.3f41e","name":"www.wenzlaff.info","info":"","x":670,"y":40,"wires":[]},{"id":"febf564a.31763","type":"random","z":"a78ff84b.3f41e","name":"Zufallsgenerator","low":"0","high":"1","inte":"true","property":"payload","x":180,"y":180,"wires":[["b4d7349b.5b509"]]},{"id":"b4d7349b.5b509","type":"switch","z":"a78ff84b.3f41e","name":"Schalter","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":260,"wires":[["f244230e.2e2b"]]},{"id":"1d5b7dd9.905e02","type":"http request","z":"a78ff84b.3f41e","name":"an ThingSpeak senden","method":"GET","ret":"obj","url":"http://api.thingspeak.com/update?key=O57PH3NIUQIMHO41&field1=1&status={{{payload}}}","tls":"","x":680,"y":480,"wires":[["d5843d87.f6c4f"]]},{"id":"195ed968.eb6fcf","type":"function","z":"a78ff84b.3f41e","name":"Filter","func":" msg.payload = msg.payload.replace(\"#\",'').trim();\n msg.payload = msg.payload.replace(\"#\",'').trim();\n msg.payload = msg.payload.replace(\" \",'+').trim();\n msg.payload = msg.payload.replace(\" \",'+').trim();\n msg.payload = msg.payload.replace(\" \",'+').trim();\n msg.payload = msg.payload.replace(\" \",'+').trim();\n\n return msg;\n\n","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["1d5b7dd9.905e02"]]},{"id":"5b036cdb.24b544","type":"http request","z":"5b92518f.f8357","name":"Superpreise für Langenhagen abfragen","method":"GET","ret":"obj","url":"https://www.benzinpreis-aktuell.de/api2/fetch.php?key=kfa2Uf35PLI9AeN51864A645","tls":"","x":200,"y":160,"wires":[["a933616b.3ee108","963bd6e3.43c02"]]},{"id":"96a0871d.50424","type":"debug","z":"5b92518f.f8357","name":"","active":true,"console":"false","complete":"false","x":630,"y":300,"wires":[]},{"id":"a933616b.3ee108","type":"contrib-json","z":"5b92518f.f8357","engine":"JSONPath","command":"jq","expr":"$.stations.0.price_super","complete":"property","prop":"payload","name":"Shell Bothfelder Str. 15","x":190,"y":240,"wires":[["96a0871d.50424","192e406b.211748","2222f27f.9b8cc6","538fd617.abad08","9b4f555e.c6fec8"]]},{"id":"963bd6e3.43c02","type":"contrib-json","z":"5b92518f.f8357","engine":"JSONPath","command":"jq","expr":"$.stations.1.price_super","complete":"property","prop":"payload","name":"Hoyer Am Kreisel bei Mc Donalds","x":220,"y":380,"wires":[["96a0871d.50424","e193ffd4.b0faa8","60e9033.ff3b67c","15ece42a.41b754","9b4f555e.c6fec8"]]},{"id":"192e406b.211748","type":"ThingspeakSendSimple","z":"5b92518f.f8357","name":"An Thingspeak Kanal 1 senden","writekey":"0TPH1R343ONJ4DV7","fieldid":"1","x":290,"y":300,"wires":[]},{"id":"130c72f4.fb1abd","type":"comment","z":"5b92518f.f8357","name":"www.wenzlaff.info","info":"","x":770,"y":40,"wires":[]},{"id":"ccd502f8.41b2f","type":"comment","z":"5b92518f.f8357","name":"Ermittelt die Super-Benzin Preise in Langenhagen und sendet sie an Thingspeak","info":"https://www.benzinpreis-aktuell.de/benzinpreise-langenhagen-heute","x":300,"y":40,"wires":[]},{"id":"32c0d15a.9399a6","type":"inject","z":"5b92518f.f8357","name":"Jede Stunde","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":120,"y":80,"wires":[["5b036cdb.24b544"]]},{"id":"e193ffd4.b0faa8","type":"delay","z":"5b92518f.f8357","name":"Warte 2 Minute","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":440,"wires":[["f94f907c.3d2fe8"]]},{"id":"f94f907c.3d2fe8","type":"ThingspeakSendSimple","z":"5b92518f.f8357","name":"An Thingspeak Kanal 2 senden","writekey":"0TPH1R343ONJ4DV7","fieldid":"2","x":290,"y":520,"wires":[]},{"id":"2222f27f.9b8cc6","type":"template","z":"5b92518f.f8357","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Shell Bothfeld: {{payload}} Euro","x":620,"y":240,"wires":[["a10709d8.a2d2f8"]]},{"id":"e9c69f8c.ce8df8","type":"template","z":"5b92518f.f8357","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hoyer Am Kreisel: {{payload}} Euro\n","x":620,"y":440,"wires":[["a10709d8.a2d2f8"]]},{"id":"60e9033.ff3b67c","type":"delay","z":"5b92518f.f8357","name":"Warte 10 Sekunden","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":440,"wires":[["e9c69f8c.ce8df8"]]},{"id":"538fd617.abad08","type":"function","z":"5b92518f.f8357","name":"Shell in Context","func":"global.set(\"shell\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["3ad4cf98.4092b8"]]},{"id":"5cbe6d07.77bc5c","type":"debug","z":"5b92518f.f8357","name":"","active":true,"console":"false","complete":"false","x":1190,"y":180,"wires":[]},{"id":"15ece42a.41b754","type":"function","z":"5b92518f.f8357","name":"Freie in Context","func":"global.set(\"freie\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["3ad4cf98.4092b8"]]},{"id":"3ad4cf98.4092b8","type":"function","z":"5b92518f.f8357","name":"Ergebnis","func":"var shell = global.get('shell')||0;\nvar freie = global.get('freie')||0;\n\nnode.warn(\"Preis Shell: \" + shell + \" Preis der Freien: \" + freie);\n\nif (shell < freie){\n    var msg1 = { payload: \"Die Shell Tankstelle ist billiger als die Freie.\" };\n    return msg1;\n}else{\n    var msg2 = { payload: \"Die Freie Tankstelle am Kreisel ist billiger.\" };\n    return msg2;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":140,"wires":[["3ba9f2ea.f7e88e","4e87de15.13482"]]},{"id":"3ba9f2ea.f7e88e","type":"rbe","z":"5b92518f.f8357","name":"Nur bei Änderung des Wert weiter","func":"rbe","gap":"","start":"","inout":"out","x":940,"y":180,"wires":[["5cbe6d07.77bc5c","92a718f2.6dddd"]]},{"id":"4e87de15.13482","type":"delay","z":"5b92518f.f8357","name":"Warte 20 Sekunden","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":140,"wires":[["a10709d8.a2d2f8"]]},{"id":"ab22e859.0dd808","type":"ui_button","z":"5b92518f.f8357","name":"","group":"b9d10b5e.392c6","order":1,"width":"","height":"","passthru":false,"label":"Benzinpreise abfragen","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":430,"y":80,"wires":[["5b036cdb.24b544"]]},{"id":"92a718f2.6dddd","type":"ui_text","z":"5b92518f.f8357","group":"796b4741.fc3fd","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":240,"wires":[]},{"id":"9b4f555e.c6fec8","type":"ui_gauge","z":"5b92518f.f8357","name":"Benzinpreis","group":"b9d10b5e.392c6","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"Euro","format":"{{value}}","min":"1","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1.20","seg2":"1.50","x":890,"y":380,"wires":[]},{"id":"a10709d8.a2d2f8","type":"ui_toast","z":"5b92518f.f8357","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Ergebnis Dialog","x":900,"y":300,"wires":[]},{"id":"c996a811.6b786","type":"inject","z":"5cc90bce.24fc54","name":"Täglich um 6:30 Uhr das Wetter abfragen","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"30 06 * * *","once":false,"x":220,"y":240,"wires":[["8cbd0306.0bc3"]]},{"id":"a5876a57.5cd2e8","type":"pushover","z":"5cc90bce.24fc54","name":"Pushover System","device":"","title":"Pushover","priority":0,"sound":"","url":"","url_title":"","x":710,"y":140,"wires":[]},{"id":"e4a0fac5.7a39b","type":"inject","z":"5cc90bce.24fc54","name":"Nachricht Node-Red startet","topic":"","payload":"Nachricht Node-Red startet","payloadType":"str","repeat":"","crontab":"","once":true,"x":180,"y":180,"wires":[["a5876a57.5cd2e8"]]},{"id":"8cbd0306.0bc3","type":"openweathermap","z":"5cc90bce.24fc54","name":"Langenhagen Wetter","wtype":"current","lon":"","lat":"","city":"Langenhagen","country":"Germany","language":"de","x":480,"y":380,"wires":[["44a4ced0.ccb4d"]]},{"id":"1d91c6a7.c73139","type":"comment","z":"5cc90bce.24fc54","name":"www.wenzlaff.info","info":"","x":130,"y":60,"wires":[]},{"id":"44a4ced0.ccb4d","type":"template","z":"5cc90bce.24fc54","name":"Format Wetterdaten","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Wetter in {{payload.location}} \nTemperatur: {{payload.tempc}} Grad C\nFeuchte   : {{payload.humidity}} % \n\nWindgeschwindigkeit: {{payload.windspeed}} m/s\n\nDetail: {{payload.detail}}","x":480,"y":440,"wires":[["a5876a57.5cd2e8","180e5d74.8b07d3"]]},{"id":"3c75627a.ccc7c6","type":"ui_button","z":"5cc90bce.24fc54","name":"","group":"796b4741.fc3fd","order":1,"width":"","height":"","passthru":false,"label":"Send Pushover Test","color":"","bgcolor":"","icon":"","payload":"Test ob Pushover läuft","payloadType":"str","topic":"","x":240,"y":120,"wires":[["a5876a57.5cd2e8"]]},{"id":"10a11cf4.31de03","type":"ui_button","z":"5cc90bce.24fc54","name":"","group":"796b4741.fc3fd","order":5,"width":"","height":"","passthru":false,"label":"OpenWeatherMap nach Pushover","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":380,"wires":[["8cbd0306.0bc3"]]},{"id":"180e5d74.8b07d3","type":"ui_text","z":"5cc90bce.24fc54","group":"796b4741.fc3fd","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":730,"y":440,"wires":[]},{"id":"ca48a72d.a2afb","type":"http request","z":"75f6b041.fe9a3","name":"Wetter LÜN","method":"GET","ret":"obj","url":"http://www.luen-ni.de/JSON.txt","tls":"","x":370,"y":160,"wires":[["d695f0f4.c96678","9fbca10a.3e7848","d4513c79.5e7ea8","ba04b6ac.54a1e8","2707b200.61da4e","c3fc7a2f.6c513","ceaed978.ecc7e8","1e6de850.06b3c","1426e45a.6c782c","ad12f11f.70487"]]},{"id":"b6b0299a.67d088","type":"debug","z":"75f6b041.fe9a3","name":"","active":false,"complete":false,"x":1010,"y":440,"wires":[]},{"id":"d695f0f4.c96678","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.0.verlauf.47","complete":"property","prop":"payload","name":"Feinstaub PM10 Wert in µg/m3","x":610,"y":160,"wires":[["664f4022.96e","80de17b3.3dc2a8"]]},{"id":"fb90049e.8e15d","type":"comment","z":"75f6b041.fe9a3","name":"Datenquelle: http://www.luen-ni.de/JSON.txt","info":"http://www.umwelt.niedersachsen.de/themen/luft/LUEN/aktuelle_messwerte/archiv/messwertarchiv-9108.html","x":190,"y":80,"wires":[]},{"id":"9fbca10a.3e7848","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.3.verlauf.47","complete":"property","prop":"payload","name":"Temperatur Wert in Grad Celsius","x":610,"y":280,"wires":[["b6b0299a.67d088","f825a8da.46b5c8","bc7a15a7.63e33"]]},{"id":"d4513c79.5e7ea8","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.4.verlauf.47","complete":"property","prop":"payload","name":"Luftdruck Wert in hPa","x":580,"y":340,"wires":[["b6b0299a.67d088"]]},{"id":"ba04b6ac.54a1e8","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.7.verlauf.47","complete":"property","prop":"payload","name":"Rel. Feuchte in % (TF)","x":580,"y":460,"wires":[["b6b0299a.67d088"]]},{"id":"2707b200.61da4e","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.9.verlauf.47","complete":"property","prop":"payload","name":"Letzter Globalstrahlung in W/m2 (g)","x":620,"y":540,"wires":[["b6b0299a.67d088"]]},{"id":"c3fc7a2f.6c513","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.2.verlauf.47","complete":"property","prop":"payload","name":"Ozon Wert in µg/m3","x":580,"y":580,"wires":[["b6b0299a.67d088"]]},{"id":"9aa345e9.26ea9","type":"comment","z":"75f6b041.fe9a3","name":"Abfrage der Messstelle Hannover (HRSW) und senden der Feinstaub Daten per Pushover, Twitter und Thinkspeak","info":"","x":400,"y":40,"wires":[]},{"id":"ceaed978.ecc7e8","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.1.verlauf.47","complete":"property","prop":"payload","name":"Stickstoffdioxid Wert in µg/m3 (NO2)","x":630,"y":220,"wires":[["de89fa5.cf42c08","6a674663.ff3a38"]]},{"id":"1e6de850.06b3c","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.5.verlauf.47","complete":"property","prop":"payload","name":"Windrichtung Wert in Grad (DD)","x":610,"y":380,"wires":[["b6b0299a.67d088"]]},{"id":"1426e45a.6c782c","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.6.verlauf.47","complete":"property","prop":"payload","name":"Windgeschwindigkeit Wert in m/s (FF)","x":630,"y":420,"wires":[[]]},{"id":"ad12f11f.70487","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.8.verlauf.47","complete":"property","prop":"payload","name":"Regendauer Wert in Minuten (RD)","x":620,"y":500,"wires":[["b6b0299a.67d088"]]},{"id":"63f293d6.e17994","type":"pushover","z":"75f6b041.fe9a3","name":"Sende an Pushover","device":"","title":"Hannover Linden Wetter","priority":0,"sound":"","x":1230,"y":220,"wires":[]},{"id":"664f4022.96e","type":"template","z":"75f6b041.fe9a3","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Feinstaub in Hannover: {{payload}} Mikro Gramm pro m3\n","x":880,"y":140,"wires":[["63f293d6.e17994","a6f27bf7.f9591","4f6a98c1.e09258"]]},{"id":"f825a8da.46b5c8","type":"template","z":"75f6b041.fe9a3","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperatur in Hannover: {{payload}} Grad Celsius","x":880,"y":300,"wires":[["aeede862.8a716"]]},{"id":"8006eb0c.733868","type":"comment","z":"75f6b041.fe9a3","name":"www.wenzlaff.info","info":"","x":890,"y":40,"wires":[]},{"id":"19729581.28f4ba","type":"ThingspeakSendSimple","z":"75f6b041.fe9a3","name":"An Thingspeak senden","writekey":"R7CBP8NG83QMF5IR","fieldid":"1","x":780,"y":660,"wires":[]},{"id":"2057ffa3.2f1c18","type":"inject","z":"75f6b041.fe9a3","name":"Täglich um 6:30 Uhr","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 6 * * *","once":false,"x":140,"y":220,"wires":[["ca48a72d.a2afb"]]},{"id":"4606aea6.df996","type":"comment","z":"75f6b041.fe9a3","name":"Siehe: https://thingspeak.com/channels/277565","info":"","x":180,"y":620,"wires":[]},{"id":"c70c4ee7.643de8","type":"twitter out","z":"75f6b041.fe9a3","twitter":"f6c8b86e.5c83b","name":"Tweet","x":730,"y":820,"wires":[]},{"id":"5d3019cd.34b3c","type":"switch","z":"75f6b041.fe9a3","name":"Ist Grenzwert PM10 von 50 µg/m3 erreicht?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"}],"checkall":"false","outputs":1,"x":550,"y":740,"wires":[["5f8d57cd.d6fdf"]]},{"id":"e4f50cca.b0a108","type":"debug","z":"75f6b041.fe9a3","name":"","active":true,"console":"false","complete":"false","x":890,"y":820,"wires":[]},{"id":"5f8d57cd.d6fdf","type":"function","z":"75f6b041.fe9a3","name":"Nachricht erstellen","func":"// Feinstaub Meldung\n\nvar newMsg = { payload:  \"#FEINSTAUB #Alarm in #Hannover ! #Grenzwert #PM10 überschritten Wert= \" + msg.payload + \" Mikro Gramm pro m3\"};\nreturn newMsg;","outputs":1,"noerr":0,"x":550,"y":820,"wires":[["e4f50cca.b0a108","c70c4ee7.643de8"]]},{"id":"e2b62bee.da683","type":"inject","z":"75f6b041.fe9a3","name":"Täglich um 12:30 Uhr","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 12 * * *","once":false,"x":140,"y":260,"wires":[["ca48a72d.a2afb"]]},{"id":"5ddd2072.69ef","type":"inject","z":"75f6b041.fe9a3","name":"Täglich um 15:30 Uhr","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 15 * * *","once":false,"x":140,"y":300,"wires":[["ca48a72d.a2afb"]]},{"id":"865aaa50.b41a88","type":"http request","z":"75f6b041.fe9a3","name":"Wetter LÜN","method":"GET","ret":"obj","url":"http://www.luen-ni.de/JSON.txt","tls":"","x":270,"y":660,"wires":[["e28757b7.a0ad1"]]},{"id":"e28757b7.a0ad1","type":"contrib-json","z":"75f6b041.fe9a3","engine":"JSONPath","command":"jq","expr":"$.messwerte.10.messstellen.0.verlauf.47","complete":"property","prop":"payload","name":"Feinstaub PM10 Wert in µg/m3","x":510,"y":660,"wires":[["19729581.28f4ba","5d3019cd.34b3c"]]},{"id":"7535bb1f.57f3fc","type":"inject","z":"75f6b041.fe9a3","name":"Stündlich","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":90,"y":660,"wires":[["865aaa50.b41a88"]]},{"id":"aeede862.8a716","type":"delay","z":"75f6b041.fe9a3","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":300,"wires":[["63f293d6.e17994","a6f27bf7.f9591"]]},{"id":"d9a2624.93d34a","type":"alexa-home","z":"75f6b041.fe9a3","conf":"3a945adc.9074be","device":"7594","acknoledge":true,"name":"Feinstaub","topic":"Alexa Feinstaub Abfrage Hannover","x":80,"y":360,"wires":[["ca48a72d.a2afb"]]},{"id":"de89fa5.cf42c08","type":"template","z":"75f6b041.fe9a3","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Stickstoffdioxid (NO2) in Hannover: {{payload}} Mikro Gramm pro m3 ","x":880,"y":220,"wires":[["c12bbe6.d80f5c"]]},{"id":"c12bbe6.d80f5c","type":"delay","z":"75f6b041.fe9a3","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":220,"wires":[["63f293d6.e17994","a6f27bf7.f9591"]]},{"id":"4f6a98c1.e09258","type":"twitter out","z":"75f6b041.fe9a3","twitter":"f6c8b86e.5c83b","name":"Tweet","x":1190,"y":100,"wires":[]},{"id":"2d94d9d2.393696","type":"ui_button","z":"75f6b041.fe9a3","name":"Start Wetterabfrage","group":"796b4741.fc3fd","order":1,"width":"","height":"","passthru":false,"label":"Start Wetterabfrage Hannover","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":160,"wires":[["ca48a72d.a2afb"]]},{"id":"80de17b3.3dc2a8","type":"ui_gauge","z":"75f6b041.fe9a3","name":"Feinstaub","group":"796b4741.fc3fd","order":3,"width":0,"height":0,"gtype":"gage","title":"Feinstaub","label":"Mikro Gramm pro m3","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"50","x":880,"y":100,"wires":[]},{"id":"6a674663.ff3a38","type":"ui_gauge","z":"75f6b041.fe9a3","name":"Stickstoffdioxid","group":"796b4741.fc3fd","order":4,"width":0,"height":0,"gtype":"gage","title":"Stickstoffdioxid","label":"µg/m3 (NO2)","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":900,"y":180,"wires":[]},{"id":"bc7a15a7.63e33","type":"ui_gauge","z":"75f6b041.fe9a3","name":"Temperatur","group":"796b4741.fc3fd","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"Grad Celsius","format":"{{payload}}","min":"-20","max":"40","colors":["#b53b3f","#e6e600","#18ca0d"],"seg1":"0","seg2":"20","x":890,"y":260,"wires":[]},{"id":"a6f27bf7.f9591","type":"ui_toast","z":"75f6b041.fe9a3","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Ergebnis","x":1200,"y":160,"wires":[]},{"id":"ec482587.643c88","type":"inject","z":"a02c2104.f08d4","name":"Start Abfrage","topic":"","payload":"","payloadType":"str","repeat":"600","crontab":"","once":true,"onceDelay":"","x":140,"y":100,"wires":[["cccb7659.a1d4e"]]},{"id":"cccb7659.a1d4e","type":"http request","z":"a02c2104.f08d4","name":"Flug Server DUMP1090 abfragen","method":"GET","ret":"obj","url":"http://10.0.7.32/dump1090/data/aircraft.json","tls":"","x":640,"y":100,"wires":[["a15df8ac.ee764"]]},{"id":"1fc800b7.c964c7","type":"debug","z":"a02c2104.f08d4","name":"Ausgabe","active":true,"console":"true","complete":"payload","x":670,"y":320,"wires":[]},{"id":"6734eb2f.ba230c","type":"comment","z":"a02c2104.f08d4","name":"www.wenzlaff.info","info":"","x":770,"y":40,"wires":[]},{"id":"a15df8ac.ee764","type":"contrib-json","z":"a02c2104.f08d4","engine":"JSONSelect","command":"jq","expr":":root > .aircraft","complete":"property","prop":"payload","name":"Filter Flugzeuge","x":140,"y":400,"wires":[["e28f64bb.f34868","27541174.341596"]]},{"id":"e28f64bb.f34868","type":"function","z":"a02c2104.f08d4","name":"Text für Twitter aufbereiten","func":"var anzahl = { payload: msg.payload[0].length + \" #Flugzeuge in #Hannover #Langenhagen erfasst\"};\n// + new Date() + \" \"\nvar messages = [\n    \"Carpe Diem\",\n    \"Must have\",\n    \"Positiv\",\n    \"Hyper\",\n    \"Super\",\n    \"Hot ...\",\n    \"A new\",\n    \"Blog über\",\n    \"Guter Kommentar\",\n    \"Sehr guter Kommentar\",\n    \"Klasse\",\n    \"First look\",\n    \"Free\",\n\t\"Super Airline\",\n\t\"Coole Flugzeuge\",\n\t\"Neuer Beitrag\",\n\t\"Neuer guter Post\",\n\t\"Begeisterter\",\n\t\"Hinweis\",\n\t\"Guter Empfang\",\n\t\"Gute Reichweite\",\n\t\"Schau mal\",\n\t\"Fake News\",\n    \"News\",\n\t\"Beachte super Beitrag\",\n\t\"Positiver Hinweis\",\n\t\"Super cooler Hinweis\",\n\t\"Aktueller gehts nicht\",\n\t\"Neue Mindmap\",\n\t\"Sehr Wichtig\",\n\t\"Super aktuell\",\n\t\"Super Urlaub\",\n\t\"Flugzeuge\",\n\t\"Flugzeug\",\n\t\"Airport\",\n\t\"Airports\",\n\t\"Flug\",\n\t\"Flughafen\",\n\t\"gelandet\",\n\t\"in Langenhagen\",\n\t\"in EDDV\",\n\t\"in HAJ\",\n\t\"Begeistert\",\n\t\"Cool oder?\",\n\t\"mit Feinstaub\",\n\t\"Feinstaub\",\n\t\"für den Urlaub\",\n\t\"Urlaubsreif\",\n\t\"A380\",\n\t\"Airbus?\",\n\t\"Guter Hinweis\"\n];\n\t\nvar hashtags = [\n    \"#alexa\",\n    \"#dot\",\n    \"#echo dot\",\n\t\"#eddv\",\n\t\"#haj\",\n\t\"#hanover\",\n\t\"#airways\",\n\t\"#cool\",\n\t\"#pi\",\n\t\"#wenzlaff.de\",\n\t\"#wenzlaff.info\",\n\t\"#kleinhirn.eu\",\n\t\"#junit5\",\n\t\"#testen\",\n\t\"#hannover\",\n\t\"#arduino\",\n\t\"#programmierung\",\n\t\"#raspberry\",\n\t\"#arduino\",\n\t\"#node-red\",\n\t\"#nodered\",\n\t\"#dump1090\",\n\t\"#flughafen\",\n\t\"#urlaub\",\n\t\"#radar\",\n\t\"#ADSB\",\n\t\"#HAJ\",\n\t\"#Hannover\",\n\t\"#RADAR\",\n\t\"#Langenhagen\",\n\t\"#Bild\",\n\t\"#kleinhirn\",\n\t\"#dontgiveup\",\n\t\"#gibnichtauf\",\n\t\"#Wenzlaff.info\",\n\t\"#mindmap\",\n\t\"#Bremen\",\n\t\"#Airport\",\n\t\"#EDDV\",\n\t\"#ADS-B\",\n\t\"#wenzlaff.de\",\n\t\"#iot\"\n];\n\t\nvar message  = messages[Math.floor(Math.random() * messages.length)];\nvar hashtag  = hashtags[Math.floor(Math.random() * hashtags.length)];\n\nmsg.payload  = anzahl.payload + \" \" + message + \" \" + hashtag;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["1fc800b7.c964c7","c852d139.8e748"]]},{"id":"ab89f28d.cfa7d","type":"comment","z":"a02c2104.f08d4","name":"Alle 5 Minuten die Anzahl Flugzeuge in Hannover ermitteln und an Twitter/Thinkspeak senden.","info":"Und sendet das Ergebnis:\n\n-an die GUI\n\n-nach Twitter\n-nach Thingspeak.com\n\n-als Debug nachricht in den Debug Tab\n\n-als System.out auf die Konsole\n\n-an zwei MQTT Broker, den eigenen und Testserver\n\nÜber Button kann jeweils im Flow und in der Gui aktualisiert werden\n\n-abfragen von Thingspeak.com über GUI","x":340,"y":40,"wires":[]},{"id":"27541174.341596","type":"function","z":"a02c2104.f08d4","name":"Anzahl Flugzeuge","func":"// die Anzahl der Flugzeuge ermitteln\n\nvar newMsg = { payload:  msg.payload[0].length };\nreturn newMsg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["26f6e6e5.32d7f2","429ecd27.e118d4","d0764a35.244ec8","3a5b1498.ce4c7c"]]},{"id":"c2880ebb.6e7ba8","type":"debug","z":"a02c2104.f08d4","name":"Ausgabe","active":true,"console":"true","complete":"payload","x":510,"y":900,"wires":[]},{"id":"76a04d18.debf34","type":"inject","z":"a02c2104.f08d4","name":"Abfrage von Thinkspeak.com","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":190,"y":700,"wires":[["133d84a9.80c42b"]]},{"id":"133d84a9.80c42b","type":"http request","z":"a02c2104.f08d4","name":"Flugzeuge von thingspeak.com abfragen","method":"GET","ret":"obj","url":"https://api.thingspeak.com/channels/44177/feeds/last.json","tls":"","x":600,"y":740,"wires":[["26e3fc0e.7509ac"]]},{"id":"26e3fc0e.7509ac","type":"contrib-json","z":"a02c2104.f08d4","engine":"JSONSelect","command":"jq","expr":":root > .field1","complete":"property","prop":"payload","name":"field1 auswerten","x":160,"y":820,"wires":[["700847fe.12fcf8","87a60cc1.bfc0f8"]]},{"id":"700847fe.12fcf8","type":"function","z":"a02c2104.f08d4","name":"Text und Zeit ergänzen","func":"var newMsg = { payload: \"Anzahl Flugzeuge in HAJ \"+ msg.payload + \" angefragt \" + new Date() };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":180,"y":900,"wires":[["c2880ebb.6e7ba8"]]},{"id":"429ecd27.e118d4","type":"mqtt out","z":"a02c2104.f08d4","name":"pi-home","topic":"/Anzahl/Flugzeuge/Hannover","qos":"","retain":"","broker":"4cce8c99.7f9e8c","x":660,"y":500,"wires":[]},{"id":"d0764a35.244ec8","type":"mqtt out","z":"a02c2104.f08d4","name":"test.mosquitto.org","topic":"/Anzahl/Flugzeuge/Hannover","qos":"","retain":"","broker":"4cce8c99.7f9e8c","x":690,"y":560,"wires":[]},{"id":"3a5b1498.ce4c7c","type":"ThingspeakSendSimple","z":"a02c2104.f08d4","name":"Thingspeak","writekey":"HBDMWMBJY1K7N37V","fieldid":"1","x":670,"y":620,"wires":[]},{"id":"c852d139.8e748","type":"twitter out","z":"a02c2104.f08d4","twitter":"f6c8b86e.5c83b","name":"Tweet","x":650,"y":380,"wires":[]},{"id":"c2e0b697.d4232","type":"ui_button","z":"a02c2104.f08d4","name":"Anzahl Flugzeuge nach Twitter und Thingspeak senden","group":"796b4741.fc3fd","order":4,"width":"","height":"","passthru":false,"label":"Anzahl Flugzeuge senden","color":"","bgcolor":"","icon":"","payload":"timestamp","payloadType":"str","topic":"","x":250,"y":160,"wires":[["cccb7659.a1d4e"]]},{"id":"5e1003e6.66efac","type":"ui_button","z":"a02c2104.f08d4","name":"Anzahl Flugzeuge von Thingspeak abfragen","group":"796b4741.fc3fd","order":1,"width":"","height":"","passthru":false,"label":"Anzahl Flugzeuge abfragen","color":"","bgcolor":"","icon":"","payload":"timestamp","payloadType":"str","topic":"","x":210,"y":740,"wires":[["133d84a9.80c42b"]]},{"id":"87a60cc1.bfc0f8","type":"ui_text","z":"a02c2104.f08d4","group":"796b4741.fc3fd","order":3,"width":"","height":"","name":"Thingspeak abfragen","label":"","format":"{{msg.payload}}","layout":"","x":660,"y":820,"wires":[]},{"id":"26f6e6e5.32d7f2","type":"ui_gauge","z":"a02c2104.f08d4","name":"Anzahl Flugzeuge","group":"796b4741.fc3fd","order":2,"width":"","height":"","gtype":"gage","title":"Anzahl Flugzeuge","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":690,"y":440,"wires":[]}]