flows_pi-bplus.json
[{"id":"a78ff84b.3f41e","type":"tab","label":"Fake News to Twitter","disabled":false,"info":""},{"id":"56bf5d59.7fa4b4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ea1b7d7.b70b78","type":"twitter-credentials","z":"","screen_name":"@programmierung"},{"id":"cd4f503c.4fc568","type":"http in","z":"a78ff84b.3f41e","name":"Start per URL http://pi-adresse:1880/pos","url":"/pos","method":"get","swaggerDoc":"","x":260,"y":300,"wires":[["e6c8efb6.c5719"]]},{"id":"897239c6.9005a","type":"http response","z":"a78ff84b.3f41e","name":"Antwort des Webservers","x":750,"y":300,"wires":[]},{"id":"8e410e44.a45b9","type":"twitter out","z":"a78ff84b.3f41e","twitter":"8ea1b7d7.b70b78","name":"Tweet","x":690,"y":220,"wires":[]},{"id":"e6c8efb6.c5719","type":"function","z":"a78ff84b.3f41e","name":"Nachrichten Generator","func":"var conference=\"\";\nvar tstamp=(new Date).toISOString().replace(/t/gi,' ').trim();\n\nvar messages = [\n    \"A new\",\n    \"Blog über\",\n    \"Guter Kommentar\",\n    \"Sehr guter Kommentar\",\n    \"Klasse\",\n    \"First look\",\n    \"Free\",\n\t\"Super Airline\",\n\t\"Coole Flugzeuge\",\n\t\"Neuer Beitrag\",\n\t\"Neuer guter Post\",\n\t\"Begeisterter\",\n\t\"Hinweis\",\n\t\"Guter Empfang\",\n\t\"Gute Reichweite\",\n\t\"Schau mal\",\n\t\"Fake News\",\n    \"News\",\n\t\"Beachte super Beitrag\",\n\t\"Positiver Hinweis\",\n\t\"Super cooler Hinweis\",\n\t\"Aktueller gehts nicht\",\n\t\"Neue Mindmap\",\n\t\"Sehr Wichtig\",\n\t\"Super aktuell\",\n\t\"Super Urlaub\",\n\t\"Guter Hinweis\"\n];\n\t\nvar hashtags1 = [\n    \"#alexa\",\n    \"#dot\",\n    \"#echo dot\",\n\t\"#eddv\",\n\t\"#haj\",\n\t\"#hanover\",\n\t\"#airways\",\n\t\"#cool\",\n\t\"#pi\",\n\t\"#wenzlaff.de\",\n\t\"#wenzlaff.info\",\n\t\"#kleinhirn.eu\",\n\t\"#junit5\",\n\t\"#testen\",\n\t\"#hannover\",\n\t\"#arduino\",\n\t\"#programmierung\",\n\t\"#raspberry\"\n];\n\t\nvar hashtags2 = [\n\t\"#arduino\",\n\t\"#node-red\",\n\t\"#nodered\",\n\t\"#dump1090\",\n\t\"#flughafen\",\n\t\"#urlaub\",\n\t\"#radar\",\n\t\"#ADSB\",\n\t\"#HAJ\",\n\t\"#Hannover\",\n\t\"#RADAR\",\n\t\"#Langenhagen\",\n\t\"#Bild\",\n\t\"#kleinhirn\",\n\t\"#dontgiveup\",\n\t\"#gibnichtauf\",\n\t\"#mindmap\",\n\t\"#Bremen\",\n\t\"#wenzlaff.de\",\n\t\"#iot\"\n];\n\t\nvar message  = messages[Math.floor(Math.random() * messages.length)];\nvar hashtag1 = hashtags1[Math.floor(Math.random() * hashtags1.length)];\nvar hashtag2 = hashtags2[Math.floor(Math.random() * hashtags2.length)];\n\t\nmsg.payload= conference+\" \"+message+\" \"+hashtag1+\" \"+hashtag2+\" \"+tstamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["897239c6.9005a","8e410e44.a45b9","3838206c.fab528"]]},{"id":"3838206c.fab528","type":"debug","z":"a78ff84b.3f41e","name":"Debugging","active":true,"console":"false","complete":"payload","x":710,"y":140,"wires":[]},{"id":"658310c5.daa51","type":"comment","z":"a78ff84b.3f41e","name":"Automatischer Fake-News Generator der twittert","info":"","x":260,"y":60,"wires":[]},{"id":"6384fd98.be56dc","type":"inject","z":"a78ff84b.3f41e","name":"Eintrag senden","topic":"","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":true,"x":200,"y":220,"wires":[["e6c8efb6.c5719"]]},{"id":"6419a6cf.f8bcd8","type":"comment","z":"a78ff84b.3f41e","name":"www.wenzlaff.info","info":"","x":601,"y":59,"wires":[]}]